@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}


#bloc_page
{
    width: 900px;
    margin: auto;
}

body
{
	background: url('fond_jaune.png');
	/*background-color: rgb(251,248,215);*/
}

img[id="me"]
{
	position:absolute;
	right:10px;
	top:10px;
	width:10%;
}

img[id="fr"]
{
	
	position:absolute;
	width:30px;
}

img[id="uk"]
{
	margin-left:35px;
	width:30px;
}

#uk , #fr, #me, header h1
{
	display: inline-block;
}





header
{
	font-family: Dayrom, serif;
	margin:2%;
	font-size:20px;
}

nav
{
	
	display:inline-block;
	width:740px;
	text-align:left;
	background: url('line.png') repeat-x bottom;
}
nav ul
{
	list-style-type:none;
}

nav li
{
	
	display: inline-block;
	width:30%;
	
}

nav a
{
	color:rgb(116,116,116);
	border: none;
	text-decoration:none;
}

nav a:hover
{
	color: rgb(128,0,64);
	border-bottom: 3px solid rgb(116,116,116);
}

footer
{
	background: url('skyline.ppg') repeat-x bottom;
	
}
